<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
    <img src="https://media.giphy.com/media/pEVk2QA2vqQKI/giphy.gif" width='50px' />
    <button [routerLink]="['home']">Home</button>
    <button [routerLink]="['mine']">Mine Coins</button>
    <button [routerLink]="['buy']">Buy Coins</button>
    <button [routerLink]="['sell']">Sell Coins</button>
    <button [routerLink]="['ledger']">Browse Ledger</button>
    <img src="https://media.giphy.com/media/pEVk2QA2vqQKI/giphy.gif" width='50px' />
</div>
<router-outlet></router-outlet>